.navbar {
  background-color: rgb(94, 167, 167);
  margin-bottom: 30px;
  padding: 0px;
  height: 100px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 35px;
  color: white !important;
}

.subtitle {
  color: black;
  font-size: 20px;
}

.scores {
  font-size: 25px;
  color: white;
  margin-left: 50px;
}

.todo {
  font-size: 25px;
  color: black;
  margin-left: 100px;
}

.instructions {
  margin: 0 auto;
  text-align: center;
}